body{
    margin: 0;
    font-family:arial;
}
.header{
	height:225px;
	width:100%;
	background:linear-gradient(to right,red,yellow);
    position:relative;
	text-align:center;
	font-size:135px;
	font-family:Marker Felt;
}
.form{
	text-decoration:none;
	font-size:35px;
	text-align:center;
	position:relative;
	top:-150px;
	left:800px;
	font-family:Marker Felt;
}
.gallery{
	text-decoration:none;
	font-size:35px;
	text-align:center;
	position:relative;
	top:-190px;
	left:-800px;
	font-family:Marker Felt;
}
.fer{
	color:white;
	background:linear-gradient(to right,blue,gray);
	height:700px;
	width:100%;
	position:relative;
	text-align:center;
	top:-100px;
}
span{
	font-size:35px;
}
.foto{
	width:500px;
    height:600px;
    position:relative;
	top:-635px;
	left:-425px;
	border-radius:50px/50px;
}
.otof{
	width:500px;
    height:600px;
    position:relative;
	top:-635px;
	left:425px;
	border-radius:50px/50px;
}
@media screen and (min-width 320px)
{
	body{
	background:linear-gradient(to right,blue,gray);
	}
}