body{
	background:gray;
	font-size:25px;
}

form{
	background:linear-gradient(to right,red,yellow);
	box-sizing:border-box;
	width:400px;
	border-radius:50px/50px;
	padding:25px;
	position:relative;
	top:100px;
	left:700px;
}
.header{
	margin:0 auto;
	width:220px;
}
form label{
	display:block;
}
.gallery{
	text-decoration:none;
	font-size:30px;
	text-align:center;
}
h2{
	text-align:center;
	font-size:35px;
}
@media screen and (min-width 320px)
{
	body{
	background:gray;
	}
}